@page "/coupon-details"
@layout MainLayout
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILocalStorageService storageService
@inject IJSRuntime JSRuntime;
@attribute [Authorize]

<style>
    body {
        background-color: #fff !important;
    }
</style>
<div class="custom-container action-pages coupon-detail-container p-0">
    <div class="top-bar">
        <a href="/coupons" class="canecl-link d-flex align-items-center"><img src="images/back-icon.png" width="14" height="24" alt="" class="mr-2" /> Promotions</a>
        <h6>Redeem Coupon</h6>
    </div>

    <AlertMessage Message="@message" MessageType="@messageType" />
    <div class="coupon-area coupon-detail">
        <div class="row">
            <div class="col-12">
                <div class="single-card coupon-detail-card">
                    @foreach (var item in model)
                    {
                        <div class="top-part text-left">
                            <div class="barcode-holder"><img src="@item.QrCodeImage" class="w-100" alt="" /></div>
                        </div>
                        <div class="bottom text-left ">
                            <p><img src="@item.Promotion.LogoUrl" width="25" height="25" alt="" /> </p>
                            <p> <b>@item.Promotion.Title </b></p>
                            <p>@item.Promotion.Subtitle</p>
                            @if (item.Promotion.EndAt != null)
                            {
                                <p><span class="badge badge-light ">Valid till @((Convert.ToDateTime(item.Promotion.EndAt).Date).ToString("dd/MM/yyyy"))</span></p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader @spinner"> <i class="fas fa-spinner fa-spin"></i> </div>