@page "/promotion-details"
@layout MainLayout
@inject HttpClient Http
@inject NavigationManager navigationManager
@inject ILocalStorageService storageService
@inject IJSRuntime JSRuntime;
@*@attribute [Authorize]*@

<style>
    body {
        background-color: #fff !important;
    }
</style>
<div class="custom-container">
    @if (model != null)
    {
        <div class="promotion-details-header">
            <div class="heading-text">You have been added the copoun succssfully. </div>
            <div class="party-icon-section"><img src="images/party-popper.png" alt="" /></div>
            <div class="coupon-home">
                <button @onclick="@RedirectToCoupons">GO HOME</button>
            </div>
        </div>
    }
    <AlertMessage Message="@message" MessageType="@messageType" />
    <div class="coupon-area coupon-detail">
        <div class="row">
            <div class="col-12">
                <div class="single-card coupon-detail-card">
                    @foreach (var item in model)
                    {
                        <div class="top-part text-left">
                            <div class="barcode-holder"><img src="@item.QrCodeImage" class="w-100" alt="" /></div>
                        </div>
                        <div class="bottom text-left ">
                            <p><img src="@item.promotion.LogoUrl" width="25" height="25" alt="" /> </p>
                            <p> <b>@item.promotion.Title </b></p>
                            <p>@item.promotion.Subtitle</p>
                            @if (item.promotion.EndAt != null)
                            {
                                @if (item.promotion.EndAt > DateTime.UtcNow)
                                {
                                    <p>
                                        <span class="badge badge-light-green border-radius-15 pl-2 pr-2">Valid till @((Convert.ToDateTime(item.promotion.EndAt).Date).ToString("dd/MM/yyyy"))</span>
                                    </p>
                                }
                                else
                                {
                                    <p>
                                        <span class="badge-danger badge-light-red border-radius-15 pl-2 pr-2">Expired</span>
                                    </p>
                                }
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader @spinner"> <i class="fas fa-spinner fa-spin"></i> </div>